<table id="load5"  class="table table-bordered border-ligth h6 align-middle" style="margin-bottom:10px;">
    <thead >
    <tr >
        <th>Time</th>
        <th>30 min</th>
        <th>1 Hour</th>
        <th>2 Hour</th>
        <th>4 Hour</th>
        <th>6 Hour</th>
        <th>12 Hour</th>
    </tr>
    </thead>
    <tbody>
    {% if  lenLTC!=0 %}
    {%for i in range(0, lenLTC)%}
    <tr>
        <td>{{time[i]}}</td>
        <td style="{%if ltc_M[i][0]%}background:#90EE90;{% else %}background:#ffcccb;{%endif%}">{%if ltc_M[i][0]%}UP{% else %}Down{%endif%}</td>
        <td style="{%if ltc_M[i][1]%}background:#90EE90;{% else %}background:#ffcccb;{%endif%}">{%if ltc_M[i][1]%}UP{% else %}Down{%endif%}</td>
        <td style="{%if ltc_M[i][2]%}background:#90EE90;{% else %}background:#ffcccb;{%endif%}">{%if ltc_M[i][2]%}UP{% else %}Down{%endif%}</td>
        <td style="{%if ltc_M[i][3]%}background:#90EE90;{% else %}background:#ffcccb;{%endif%}">{%if ltc_M[i][3]%}UP{% else %}Down{%endif%}</td>
        <td style="{%if ltc_M[i][4]%}background:#90EE90;{% else %}background:#ffcccb;{%endif%}">{%if ltc_M[i][4]%}UP{% else %}Down{%endif%}</td>
        <td style="{%if ltc_M[i][5]%}background:#90EE90;{% else %}background:#ffcccb;{%endif%}">{%if ltc_M[i][5]%}UP{% else %}Down{%endif%}</td>
    </tr>
    {%endfor%}
    {% endif %}

    </tbody>
</table>