<div class="row mb-4" id="load">

    <div class="col-xl-2 col-md-6">
        <div class="card {% if btc[0] %} bg-success {% else %} bg-danger {% endif %} text-white mb-4">
            <div class="card-body ">30 Min Prediction: <strong>{% if btc[0] %} UP {% else %} Down {% endif %}{{x}}</strong></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                With 65% Accuracy
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6">
        <div class="card {% if btc[1] %} bg-success {% else %} bg-danger {% endif %} text-white mb-4">
            <div class="card-body ">1 Hour Prediction: <strong>{% if btc[1] %} UP {% else %} Down {% endif %}</strong></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                With 79% Accuracy
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6">
        <div class="card {% if btc[2] %} bg-success {% else %} bg-danger {% endif %} text-white mb-4">
            <div class="card-body ">2 Hour Prediction: <strong>{% if btc[2] %} UP {% else %} Down {% endif %}</strong></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                With 87% Accuracy
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6">
        <div class="card {% if btc[3] %} bg-success {% else %} bg-danger {% endif %} text-white mb-4">
            <div class="card-body ">4 Hour Prediction: <strong>{% if btc[3] %} UP {% else %} Down {% endif %}</strong></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                With 83% Accuracy
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6">
        <div class="card {% if btc[4] %} bg-success {% else %} bg-danger {% endif %} text-white mb-4">
            <div class="card-body ">6 Hour Prediction: <strong>{% if btc[4] %} UP {% else %} Down {% endif %}</strong></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                With 85% Accuracy
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6">
        <div class="card {% if btc[5] %} bg-success {% else %} bg-danger {% endif %} text-white mb-4">
            <div class="card-body ">12 Hour Prediction: <strong>{% if btc[5] %} UP {% else %} Down {% endif %}</strong></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                With 85% Accuracy
            </div>
        </div>
    </div>
</div>
