<div class="row mb-4" id="load2">

    <div class="col-xl-2 col-md-6">
        <div class="card {% if ltc[0] %} bg-success {% else %} bg-danger {% endif %} text-white mb-4">
            <div class="card-body ">30 Min Prediction: <strong>{% if ltc[0] %} UP {% else %} Down {% endif %}{{x}}</strong></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                With 63% Accuracy
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6">
        <div class="card {% if ltc[1] %} bg-success {% else %} bg-danger {% endif %} text-white mb-4">
            <div class="card-body ">1 Hour Prediction: <strong>{% if ltc[1] %} UP {% else %} Down {% endif %}</strong></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                With 72% Accuracy
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6">
        <div class="card {% if ltc[2] %} bg-success {% else %} bg-danger {% endif %} text-white mb-4">
            <div class="card-body ">2 Hour Prediction: <strong>{% if ltc[2] %} UP {% else %} Down {% endif %}</strong></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                With 78% Accuracy
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6">
        <div class="card {% if ltc[3] %} bg-success {% else %} bg-danger {% endif %} text-white mb-4">
            <div class="card-body ">4 Hour Prediction: <strong>{% if ltc[3] %} UP {% else %} Down {% endif %}</strong></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                With 83% Accuracy
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6">
        <div class="card {% if ltc[4] %} bg-success {% else %} bg-danger {% endif %} text-white mb-4">
            <div class="card-body ">6 Hour Prediction: <strong>{% if ltc[4] %} UP {% else %} Down {% endif %}</strong></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                With 88% Accuracy
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6">
        <div class="card {% if ltc[5] %} bg-success {% else %} bg-danger {% endif %} text-white mb-4">
            <div class="card-body ">12 Hour Prediction: <strong>{% if ltc[5] %} UP {% else %} Down {% endif %}</strong></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                With 90% Accuracy
            </div>
        </div>
    </div>
</div>
