<div class="row mb-4" id="load3">
    <div class="col-xl-2 col-md-6">
        <div class="card {% if xrp[0] %} bg-success {% else %} bg-danger {% endif %} text-white mb-4">
            <div class="card-body ">30 Min Prediction: <strong>{% if xrp[0] %} UP {% else %} Down {% endif %}{{x}}</strong></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                With 63% Accuracy
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6">
        <div class="card {% if xrp[1] %} bg-success {% else %} bg-danger {% endif %} text-white mb-4">
            <div class="card-body ">1 Hour Prediction: <strong>{% if xrp[1] %} UP {% else %} Down {% endif %}</strong></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                With 70% Accuracy
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6">
        <div class="card {% if xrp[2] %} bg-success {% else %} bg-danger {% endif %} text-white mb-4">
            <div class="card-body ">2 Hour Prediction: <strong>{% if xrp[2] %} UP {% else %} Down {% endif %}</strong></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                With 73% Accuracy
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6">
        <div class="card {% if xrp[3] %} bg-success {% else %} bg-danger {% endif %} text-white mb-4">
            <div class="card-body ">4 Hour Prediction: <strong>{% if xrp[3] %} UP {% else %} Down {% endif %}</strong></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                With 84% Accuracy
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6">
        <div class="card {% if xrp[4] %} bg-success {% else %} bg-danger {% endif %} text-white mb-4">
            <div class="card-body ">6 Hour Prediction: <strong>{% if xrp[4] %} UP {% else %} Down {% endif %}</strong></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                With 83% Accuracy
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6">
        <div class="card {% if xrp[5] %} bg-success {% else %} bg-danger {% endif %} text-white mb-4">
            <div class="card-body ">12 Hour Prediction: <strong>{% if xrp[5] %} UP {% else %} Down {% endif %}</strong></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                With 87% Accuracy
            </div>
        </div>
    </div>
</div>
